# ~/.config/chezmoi/chezmoi.toml

[data]
# git
git_username = {{ promptStringOnce . "git_username" "git username" | quote }}
git_email = {{ promptStringOnce . "git_email" "git email" | quote }}
git_signing_key = {{ promptStringOnce . "git_signing_key" "git signing key (empty to skip)" | quote }}
git_work_dir = {{ promptStringOnce . "git_work_dir" "work projects directory" "~/.config/project/work" | quote }}
