# ~/.config/chezmoi/chezmoi.toml

[data]
bw_chezmoi_item_name = "chezmoi"

# ssh
bw_ssh_private_key_filename = "id_rsa"
bw_ssh_public_key_filename = "id_rsa.pub"

# git
git_username = {{ promptString "git username" | quote }}
git_email = {{ promptString "git email" | quote }}
git_signing_key = {{ (bitwardenFields "item" (bitwarden "item" "chezmoi").id).git_signing_key_id.value | quote }}

# gpg
bw_gpg_private_key_filename = "gpg.key"

# Ignore ping requests
# values :
#   - true
#   - false
ignore_ping = "true"

# Enabled local hostname resolution ("hostname.local" naming scheme)
# values :
#   - true
#   - false
local_hostname_resolution = "true"

# Control system files management (outside $HOME)
# values :
#   - true :   enable system management
#   - false :  disable system management
track_system_config = "false"

# Copy snapper config
# values :
#   - true
#   - false
enable_snapper = "true"
