# ~/.config/chezmoi/chezmoi.toml

[data]
  ignore_ping = "true"

  local_hostname_resolution = "true"

  # Control system files management (outside $HOME)
  # values :
  #   - enabled :   enable system management
  #   - disabled :  disable system management
  #   - ask :       prompt the user to copy files or not
  system_config = "disabled"

  filesystem = "btrfs"
