{
  "version": {
    "initial": "0.1.0"
  },

  "changelog": {
    "open": false,
    "version": "## [version] ([version_date])",
    "commit": "- [message]"
  },

  "tag": {
    "enabled": true,
    "name": "[version]"
  },

  "release": {
    "github": {
      "enabled": true,
      "token": "{{ .token_github_repo }}"
    }
  },

 "commit": {
    "message": "🔖 chore(bump) v[version]"
  },

  "scripts": {
    "postchangelog": "sed -ri '/((docs|doc)(\\(.*\\)){0,1}|chore\\(bump\\)):?\\s*.*$/d' CHANGELOG.md",
    "postrelease": "git push origin HEAD --tags"
  }
}
