#!/bin/sh
# Manage files outside home direcotry.
# Be carefull : all files inside $CHEZMOI_SYSTEM will be copied

CHEZMOI_SYSTEM="$HOME/.local/chezmoi_system"

if {{ promptBoolOnce . "track_system_config" "Track system config?" }} = "false"; then
    exit 0
else if {{ promptBoolOnce . "track_system_config" "Track system config?" }} != "false"
    echo "Unrecognized value for \"track_system_config\""
    exit 1
fi

echo -e "\nCopy system config files\n"

# Include all hidden files but ignore `.keep`
for d in $(find $CHEZMOI_SYSTEM -type f -iname '***' ! -iname '**.keep'); do
    # Remove "$HOME/.local/chezmoi_system" from file path
    real_file="${d#$CHEZMOI_SYSTEM}"
    # Equivalent to dirname "$real_file"
    real_dir="${real_file%/*}"
    if ! [ -d "$real_dir" ]; then
        sudo mkdir --parent --verbose "$real_dir"
    fi
    sudo cp --force --verbose "${d}" "$real_dir"
done
