#!/bin/sh

dialog_yes_no() {
    echo -e "\n$1 (y/N)? "
    read answer
    if [ "$answer" != "${answer#[Yy]}" ] ;then
        return 0
    else
        return 1
    fi
}

install_homebrew() {
    if dialog_yes_no "$1 cannot be installed with your default pasckage manager. Do you want to install homebrew"; then
        HOMEBREW=1
    else
        HOMEBREW=0
        return 1
    fi
    {{ if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
        sudo apt-get install build-essential curl file git
    {{ end -}}
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
}

brew_wrapper() {
    if command -v brew; then
        brew install $1
    elif [ -f /home/linuxbrew/.linuxbrew/bin/brew ]; then
        /home/linuxbrew/.linuxbrew/bin/brew install $1
    elif [ -f $HOME/.linuxbrew/bin/brew ]; then
        $HOME/.linuxbrew/bin/brew install $1
    elif [ "$HOMEBREW" = 1 ] || [ -z "${HOMEBREW+x}" ]; then
        install_homebrew "$1" && brew_wrapper $1
    fi
}


if ! dialog_yes_no "Do you want to run the install script"; then
    exit 0
fi


{{ if eq .chezmoi.osRelease.id "arch" "manjaro" -}}
aur_install() {
    local tmp="${1##https://*/}"
    local package_name="${tmp%.git}"
    if pacman -Q $package_name; then
        return
    else
        git clone "$1" $HOME/.aur_install
        cd $HOME/.aur_install
        makepkg --clean --install --syncdeps
        cd $HOME
        rm -rfd $HOME/.aur_install
    fi
}
sudo pacman -Syu
sudo pacman -S --needed ripgrep bash git fd fzf exa fish bat neovim yarn fakeroot binutils
aur_install https://aur.archlinux.org/starship-bin.git
aur_install https://aur.archlinux.org/asdf-vm.git
{{ end -}}

{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf update
sudo dnf module disable fish
sudo dnf distro-sync fish
sudo dnf install bash git ripgrep fd-find exa fish npm bat neovim python3-neovim bash fzf findutils
sudo dnf install starship || curl -fsSL https://starship.rs/install.sh | sudo bash
sudo npm install -g yarn
{{ end -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
sudo apt-get update
sudo apt-get install git bash fish neovim npm curl unzip
sudo npm install -g yarn

sudo apt-get install fzf || brew_wrapper fzf && $(/home/linuxbrew/.linuxbrew/bin/brew --prefix)/opt/fzf/install --all --no-zsh --no-bash --64
sudo apt-get install fd-find || brew_wrapper fd
sudo apt-get install exa || brew_wrapper exa
sudo apt-get install ripgrep || brew_wrapper ripgrep
sudo apt-get install bat || brew_wrapper bat
brew_wrapper starship
{{ end -}}

{{ if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
sudo zypper update
sudo zypper in bash fish git ripgrep fd exa npm bat neovim fzf
sudo npm install -g yarn
curl -fsSL https://starship.rs/install.sh | sudo bash
{{ end -}}

{{ if ne .chezmoi.osRelease.id "arch" -}}
{{ if ne .chezmoi.osRelease.id "manjaro" -}}
git clone https://github.com/asdf-vm/asdf.git "$HOME"/.asdf
git --git-dir="$HOME"/.asdf/.git checkout $(git --git-dir="$HOME"/.asdf/.git describe --abbrev=0 --tags)
mkdir -p "$HOME"/.config/fish/completions && cp "$HOME"/.asdf/completions/asdf.fish "$HOME"/.config/fish/completions
{{ end -}}
{{ end -}}

yarn config set prefix $HOME/.yarn
yarn global add @fabiospampinato/bump
mkdir -p "$HOME/.local/chezmoi_system"
