#!/bin/sh

#############################################################
# Functions
#############################################################

# Handy yes/no dialog to let the user make some decisions
dialog_yes_no() {
    echo -e "\n$1 (y/N)? "
    read answer
    if [ "$answer" != "${answer#[Yy]}" ] ;then
        return 0
    else
        return 1
    fi
}


{{ if eq .install_package "ask" -}}
if ! dialog_yes_no "Do you want to run the install script"; then
    exit 0
fi
{{ else if eq .install_package "disabled" -}}
exit 0
{{ else if ne .install_package "enabled" -}}
echo "Unrecognized value for \"system_config\""
exit 1
{{ end -}}


# Trim leading pattern
trim_leading() {
    local pattern="$1"
    shift 1
    local res="${@##*$pattern}"
    echo "$res"
}

# Trim trailing pattern
trim_trailing() {
    local pattern="$1"
    shift 1
    local res="${@%$pattern}"
    echo "$res"
}

# Only install aur packages if they are not installed
yay_needed() {
    local packages="$(yay -Qi $@ 2>&1 >/dev/null)"
    local needed=""

    while read -r p; do
        tmp=$(trim_leading "error: package \'" "$p")
        needed="$needed $(trim_trailing "\' was not found" "$tmp")"
    done <<< "$packages"

    yay -S --needed $needed
}

#############################################################
# ARCHLINUX - MANJARO
#############################################################

# Install key to enable chaotic-aur repo (https://lonewolf.pedrohlc.com/chaotic-aur/)
sudo pacman-key --init
sudo pacman-key --keyserver hkp://keyserver.ubuntu.com -r 3056513887B78AEB 8A9E14A07010F7E3
sudo pacman-key --lsign-key 3056513887B78AEB
sudo pacman-key --lsign-key 8A9E14A07010F7E3

# Sync databases
sudo pacman -Syyu

# Install yay
sudo pacman -S --needed yay

yay_needed ripgrep bash git fd fzf exa fish bat neovim yarn fakeroot binutils ufw htop yay chaotic-keyring starship-bin asdf-vm powerpill screen


{{ if eq .machine "desktop" -}}
yay_needed cups avahi imwheel profile-cleaner profile-sync-daemon pamac-aur meld ungoogled-chromium materia-gtk-theme gnome-tweaks gnome-shell-extension-pop-shell-git pop-shell-shortcuts-git pcmanfm-gtk3 geany gksu ttf-bitstream-vera noto-fonts visual-studio-code-bin bibata-cursor-theme standardnotes-desktop bitwarden-bin insomnia-bin insomnia-designer ttf-twemoji menulibre typora spotify-dev blueman pulseaudio-modules-bt-git

# Enable VP9 hardware video decoding in chromium
{{ if eq .graphics "nvidia" }}
yay_needed libva-vdpau-driver-vp9-git
{{ end  -}}

{{ end -}}


# snap-pac : setup pre/post btrfs snapshots using pacman hooks
{{ if eq .filesystem "btrfs" -}}
yay_needed snap-pac snapper snapper-gui-git
{{ end -}}


#############################################################
# POST INSTALL CONFIGURATION
#############################################################

# Yarn
yarn config set prefix $HOME/.yarn
yarn global add @fabiospampinato/bump

mkdir -p "$HOME/.local/chezmoi_system"

# Enable firewall
sudo ufw enable

# Enable systemd services, set default applications
{{ if eq .machine "desktop" -}}

# Enable auto discovery of printers
sudo systemctl enable --now cups-browsed.service avahi-daemon.service org.cups.cupsd.service
systemctl --user enable profile-cleaner.service profile-cleaner.timer psd.service bridge-cli.service

# Set PCManFM as default file manager
xdg-mime default pcmanfm.desktop inode/directory application/x-gnome-saved-search

{{ end -}}


# Filesystem stuff
{{ if eq .filesystem "btrfs" -}}
sudo systemctl enable snapper-timeline.timer
{{ end -}}
