#!/bin/sh
# Manage files outside home direcotry.
# Be carefull : all files inside $CHEZMOI_SYSTEM will be copied

CHEZMOI_SYSTEM="$HOME/.local/chezmoi_system"

dialog_yes_no() {
    echo -e "\n$1 (y/N)? "
    read answer
    if [ "$answer" != "${answer#[Yy]}" ] ;then
        return 0
    else
        return 1
    fi
}

{{ if eq .system_config "ask" -}}
if ! dialog_yes_no "Do you want to install system configuration?"; then
    exit 0
fi
{{ else if eq .system_config "disabled" -}}
exit 0
{{ else if ne .system_config "enabled" -}}
echo "Unrecognized value for \"system_config\""
exit 1
{{ end -}}

echo -e "\nCopy system config files\n"

# Include all hidden files but ignore `.keep`
for d in $(find $CHEZMOI_SYSTEM -type f -iname '**.*' ! -iname '**.keep'); do
    # Remove "$HOME/.local/chezmoi_system" from file path
    real_file="${d#$CHEZMOI_SYSTEM}"
    # Equivalent to dirname "$real_file"
    real_dir="${real_file%/*}"
    if ! [ -d "$real_dir" ]; then
        sudo mkdir --parent --verbose "$real_dir"
    fi
    sudo cp --force --verbose "${d}" "$real_dir"
done

{{ if eq .chezmoi.osRelease.id "arch" "manjaro" -}}

# Install AUR package
# ARG : AUR repo link, typically : https://aur.archlinux.org/<package>.git
aur_install() {
    local tmp="${1##https://*/}"
    local package_name="${tmp%.git}"
    if pacman -Q $package_name; then
        return
    else
        git clone "$1" $HOME/.aur_install
        cd $HOME/.aur_install
        makepkg --clean --install --syncdeps
        cd $HOME
        rm -rfd $HOME/.aur_install
    fi
}
# Edit pacman .conf
if ! grep --silent "Include = /etc/pacman.d/chaotic-mirrorlist" /etc/pacman.conf; then
    aur_install https://aur.archlinux.org/chaotic-mirrorlist.git
    echo -e "\n[chaotic-aur]\nInclude = /etc/pacman.d/chaotic-mirrorlist\n" | sudo tee -a /etc/pacman.conf
fi

{{ end -}}
