#!/bin/sh
# Manage files outside home direcotry.
# Be carefull : all files inside $CHEZMOI_SYSTEM will be copied

CHEZMOI_SYSTEM="$HOME/.local/chezmoi_system"

dialog_yes_no() {
    echo -e "\n$1 (y/N)? "
    read answer
    if [ "$answer" != "${answer#[Yy]}" ] ;then
        return 0
    else
        return 1
    fi
}

if ! dialog_yes_no "Do you want to install system configuration?"; then
    exit 0
fi

for d in $(find $CHEZMOI_SYSTEM -type f); do
    # Remove "$HOME/.local/chezmoi_system" from file path
    real_file="${d#$CHEZMOI_SYSTEM}"
    # Equivalent to dirname "$real_file"
    real_dir="${real_file%/*}"
    if ! [ -d "$real_dir" ]; then
        sudo mkdir --parent --verbose "$real_dir"
    fi
    sudo cp --force --verbose "${d}" "$real_dir"
done
