#!/bin/sh

#############################################################
# POST INSTALL CONFIGURATION
#############################################################

# Directories
mkdir -p "$HOME/.local/chezmoi_system"
mkdir -p "$HOME/.ssh/sockets"
