###################################
# Variables
###################################

# Sometimes this is not in PATH
set -ag fish_user_paths "$HOME"/.local/bin
set -ag fish_user_paths /lib/passenger/bin
set -ag fish_user_paths /usr/lib/passenger/bin
set -ag fish_user_paths $HOME/.cargo/bin
set -ag fish_user_paths $HOME/.dotnet
set -ag fish_user_paths $HOME/.yarn/bin
set -ag fish_user_paths $HOME/.poetry/bin

set -q fisher_path; or set -Ux fisher_path "$HOME/.config/fish"

set -gx EDITOR "nvim"

# Go
if type -q go
    set -q GOPATH; or set -Ux GOPATH "$HOME/go"
    set -q GOBIN; or set -Ux GOBIN "$GOPATH/bin"
    set -q GO111MODULE; or set -Ux GO111MODULE "on"
    set -ag fish_user_paths "$GOBIN"
end

# Colorize manpages using bat
if type -q bat
    set -q MANPAGER; or set -Ux MANPAGER 'sh -c "col -bx | bat --language=man --style=grid --color=always --decorations=always"'
    set -q MANROFFOPT; or set -Ux MANROFFOPT '-c'
end

# fzf
if type -q fzf
    # margin, cycle scrolling, layout, height and color
    set -gx FZF_DEFAULT_OPTS "--cycle --reverse --height 60% --color 'fg:#bbccdd,fg+:#ddeeff,bg:#1B1C1D,preview-bg:#1B1C1D,border:#778899'"

    # Default command
    if type -q rg
        set -gx _BASE_FZF_DEFAULT_COMMAND 'rg --files --hidden -g "!**/{.git,node_modules}/**"'
        set -gx FZF_DEFAULT_COMMAND {$_BASE_FZF_DEFAULT_COMMAND}' $dir 2> /dev/null'
    else
        set -gx _BASE_FZF_DEFAULT_COMMAND 'find -L . \( -path ./.git -prune -path ./node_modules -prune \) -o -print -type f 2> /dev/null'
        set -gx FZF_DEFAULT_COMMAND "$_BASE_FZF_DEFAULT_COMMAND"
    end
    set -gx FZF_CTRL_T_COMMAND "$FZF_DEFAULT_COMMAND"

    # search for a file in the home directory
    if type -q fd
        set -gx FZF_ALT_C_COMMAND "fd -t d --full-path './'"
    else
        set -gx FZF_ALT_C_COMMAND "find . -type d"
    end


    # jethrokuan/fzf fish plugin
    set -gx FZF_CD_WITH_HIDDEN_COMMAND "fd -t d --hidden --full-path './'"
    set -gx FZF_PREVIEW_DIR_CMD "exa --tree --level 3"
    set -gx FZF_PREVIEW_FILE_CMD "bat --style=numbers --color=always"

    set -gx FZF_FIND_FILE_COMMAND {$_BASE_FZF_DEFAULT_COMMAND}' . \$dir 2> /dev/null'
    set -gx FZF_OPEN_COMMAND "$FZF_FIND_FILE_COMMAND"
    set -gx FZF_CD_COMMAND "$FZF_ALT_C_COMMAND"
    set -gx FZF_ENABLE_OPEN_PREVIEW 1
    set -q FZF_COMPLETE; or set -Ux FZF_COMPLETE 3

    # preview files on the right side
    set -gx FZF_CTRL_T_OPTS "--preview '"{$FZF_PREVIEW_FILE_CMD}' {}\''
    # preview directory sub tree
    set -gx FZF_ALT_C_OPTS "--preview '"{$FZF_PREVIEW_DIR_CMD}' {}\''


    # fzf-complete with alt+d / alt+shift+d
    bind \ed '__fzf_search_dirs && commandline -a / && commandline -C (string length (commandline))'
    bind \eD '__fzf_search_dirs hidden && commandline -a / && commandline -C (string length (commandline))'

    alias cf 'fzf-bcd-widget'

    {{ if eq .chezmoi.osRelease.id "fedora" -}}
    source /usr/share/fzf/shell/key-bindings.fish
    {{ end -}}

    # Forgit plugin
    set -q forgit_log; or set -Ux forgit_log vlo
    set -q forgit_diff; or set -Ux forgit_diff vd
    set -q forgit_add; or set -Ux forgit_add va
    set -q forgit_reset_head; or set -Ux forgit_reset_head vrh
    set -q forgit_ignore; or set -Ux forgit_ignore vi
    set -q forgit_restore; or set -Ux forgit_restore vcf
    set -q forgit_clean; or set -Ux forgit_clean vclean
    set -q forgit_stash_show; or set -Ux forgit_stash_show vss
    set -q forgit_cherry_pick; or set -Ux forgit_cherry_pick vcp
    set -q forgit_rebase; or set -Ux forgit_rebase vrb

    set -a FORGIT_FZF_DEFAULT_OPTS "$FZF_DEFAULT_OPTS"
    set -a FORGIT_LOG_FZF_OPTS "--height 80%"
end

###################################
# Auto add ssh keys at login
###################################
if status --is-login
    setenv SSH_ENV $HOME/.ssh/environment

    if test -n "$SSH_AGENT_PID"
        ps -ef | grep $SSH_AGENT_PID | grep ssh-agent >/dev/null
        if [ $status -eq 0 ]
            add_identities
        end
    else
        if test -f $SSH_ENV
            . $SSH_ENV >/dev/null
        end
        ps -ef | grep $SSH_AGENT_PID | grep -v grep | grep ssh-agent >/dev/null
        if test $status -eq 0
            add_identities
        else
            start_agent
        end
    end

end


###################################
# Keybindings
###################################

bind \cH backward-kill-path-component

###################################
# Aliases
###################################

alias cl 'clear'

if type -q starship
    eval (starship init fish)
end

{{ if eq .chezmoi.osRelease.id "arch" "manjaro" -}}
source /opt/asdf-vm/asdf.fish
{{ else }}
source "$HOME"/.asdf/asdf.fish
{{ end -}}

if type -q direnv
    direnv hook fish | source
end
