jorgebucaran/fisher
oh-my-fish/plugin-python
oh-my-fish/plugin-sudope
lewisacidic/fish-poetry
franciscolourenco/done
jethrokuan/fzf
wfxr/forgit
gazorby/enhancd
gazorby/fish-exa
gazorby/fish-autols
gazorby/fish-docker
gazorby/fish-finders
gazorby/fish-chezmoi
gazorby/fish-git-emojis
gazorby/fish-git-check-id
gazorby/plugin-git
gazorby/fish-abbreviation-tips
{{ if eq .chezmoi.osRelease.id "arch" "manjaro" -}}
gazorby/fish-pacman
{{ end -}}
brgmnn/fish-docker-compose
