oh-my-fish/plugin-python
oh-my-fish/plugin-sudope
jhillyerd/plugin-git
Gazorby/fish-git-emojis
Gazorby/fish-finders
Gazorby/fish-git-check-id
Gazorby/fish-docker
lewisacidic/fish-poetry
franciscolourenco/done
Gazorby/abbr-tips
{{ if eq .chezmoi.osRelease.id "arch" "manjaro" -}}
Gazorby/fish-pacman
{{ end -}}
Gazorby/fish-autols
jethrokuan/fzf
Gazorby/enhancd
